{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}

{% include 'partials/_navbar.html' %}

<section class="main">
    <div class="main-content">
        <h2>Welcome To</h2>
        <h1> <span>Subrem</span></h1>
        <p>Your personal subscription manager, so you pay for what's required.</p>
        <button>DOWNLOAD EXTENSION</button>
    </div>
</section>

<section class="about" id="about">
    <div class="about-img">
        <img src="{% static 'images/pinn.png' %}" alt="SubRem">
    </div>
    <div class="about-content">
        <h1>About <span>Subrem</span></h1>
        <div>Your Personal Subscription Manager</div>
        <p>SubRem is a reminder website.
            -> It allows the user to create an account and store all the data related to a particular type of subscription he/she purchases. 
            -> It reminds user whenever a subscription is about to expire, so that the user could renew the subscription and maintain a proper record of his/her spending on the subscriptions of various diffeent platforms.</p>
    </div>
    </div>
</section>

<section class="services" id="services">
    <h1 class="Life">
        <span>Categories</span>
    </h1>
    <div class="cards">
        <a style="text-decoration: none; color: initial;"  href="{% url 'streamingServices' %}" class="card">
            <div class="card-square">
                <div class="inner-square"><img src="{% static 'images/streaming.png' %}"></div>
            </div>
            <div class="stream-link">
                <h1>Streaming Services</h1>
                <p>Netflix. Prime Video. Disney+ Hotstar.</p>
            </div>
        </a>
        <a style="text-decoration: none; color: initial;"  href="{% url 'lifestyle' %}" class="card">
            <div class="card-square">
                <div class="inner-square"><img src="{% static 'images/lifestyle.png' %}"></div>
            </div>
            <h1>Lifestyle</h1>
            <p>Nike Run Club. Headspace. Cult Fit</p>
        </a>
        <a style="text-decoration: none; color: initial;"  href="{% url 'cloudStorage' %}" class="card">
            <div class="card-square">
                <div class="inner-square"><img src="{% static 'images/cloud.png' %}"></div>
            </div>
            <h1>Cloud Storage</h1>
            <p>AWS. Azure. Google Cloud</p>
        </a>

    </div>
</section>
<section class="contact" id="contact">
    <h1 class="Life">
        Contact <span>Us</span>
    </h1>
    <div class="subheading">We're quite social</div>
    <div class="contact-cards">
        <div class="contact-card">
            <div class="contact-square"><img src="{% static 'images/call.png' %}"></div>
            <h1>Call Us On</h1>
            <div class="contact-info">+91 7001876232</div>
        </div>
        <div class="contact-card">
            <div class="contact-square"><img src="{% static 'images/Email.png' %}"></div>
            <h1>Email Us At</h1>
            <div class="contact-info">subremtool@gmail.com</div>
        </div>
    </div>
    <div class="fields">
        <input type="text" class="contact-field" placeholder="Your name">
        <input type="email" class="contact-field" placeholder="Your email">
        <input type="text" class="contact-field" placeholder="Your subject">
        <textarea name="" id="message" cols="30" rows="5">Your message</textarea>
    </div>

    <button>Send Message</button>
</section>

<footer class="front">
    <div class="logo"><img src="{% static 'images/teamlogo2.png' %}" alt="Aviators" width=150px></div>
    <div class="copy">Copyright 2020 &copy; Aviators</div>
</footer>

{% endblock %}